
*{
    margin: 0;
    padding: 0;
}

.paragraph{
        font-family: 'Inter', sans-serif;
        color: rgba(7, 2, 17, 0.60);
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
}

#container{
    width: 83%;
    max-width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10.6%;
    margin-right: 10.6%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#container .items {
    text-align: center;
    color: #FFF;
    max-width: 52%;
    padding: 20px;
}

#container .items h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}
#container .items h1 {
    color: #FFF;
        text-align: center;
        font-family: Merriweather;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 95px;
        margin-top: 0;
}

.sale{
    /* max-width: 802.9px */
    width: 802px; ;
    margin: 120px auto;
}

.sale .topic{
    text-align: center;
}

.sale .topic h1{
        color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 88px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 48px;
}
.sale .topic h3{
    color: #070211;
        text-align: center;
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 48px;

}

.sale .topic .deal {
        color: #F00;
        text-align: center;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 0;
}

.sale .fast{
        width: 802.9px;
        height: 500px;
}

 .welcome{

        width: 83%;
        max-width: 1320px;
        height: 600px;
        background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../resources/Vectorrr.png);
        background-size: cover;
        background-position: center;
        margin-top: 120px;
        /* margin-bottom: 50px; */
        margin-left: 10.6%;
        margin-right: 10.6%;      
} 
.welcome .total{
    display: flex;
     align-items: center;
      justify-content: space-between;  
    padding: 68px 126px;
    
}

.welcome .total  .heading1{
        color: #FFF;
        font-family: Merriweather;
        font-size: 64px;
        font-style: normal;
        font-weight: 900;
        line-height: 88px;
        letter-spacing: 7.04px;}

.welcome .total p{
    color: rgba(255, 255, 255, 0.80);
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        
        padding-bottom: 48px;
        padding-top: 24px;
        
}

.btnprimary{
        border-radius: 1rem;
        background: #F00;
        display: inline-flex;
        padding: 16px 32px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #FFF;
        border-style: none;
        outline: none;  
        cursor: pointer;  
        transition: all .2s;
}
.btnprimary:hover,.btn2:hover{
    background: rgb(120, 6, 69);
}


.join{
    width: 83%;
    max-width: 1320px;
    height: 482px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    margin-top: 120px; 
    margin-left: 10.6%;
    margin-right: 10.6%;
}

.li{
    padding: 100px 385px;
}


.p1{
     color: #070211;
        width: 560px;
        height: 168px;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;   
        text-align: center;  
}
.btn{
    text-align: center;
    padding-top: 48px;
}
.s1{
    color: #F00;
    
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        text-transform: capitalize;
}

.best{
    width: 83%;
        max-width: 1320px;
        height: 463px;
        border-radius: 16px;
        margin-top: 120px;
        margin-left: 10.6%;
        margin-right: 10.6%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.best .main{
        display: flex; 
        align-items: center;
        justify-content: space-around;
    }
.round img{
    height: 364px;
    width: 364px;
    border-radius: 364px;
    border: 15px solid #F00;
    padding: 49px;
}

.offer{
    justify-content: center; 
    padding-top: 104px;
    padding-bottom: 104px;
    padding-right: 70px;

}
.new{
    justify-content: center;
    padding-top: 112px;
    padding-left: 118px;
}
.l{
    color: #F00;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}
.all{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 22px;
}
.Right-side{
        color: #F00;
        font-family: Inter;
        font-size: 48px;
        font-weight: 700;    
}
#p{
    margin-top: 16px;
    margin-bottom: 43px;

    text-align: left;
    width: 276px;
}
#a{
    width: 393px;
    text-align: left;
}
#p2{
    width: 896px;
    padding-bottom: 48px;
}

.holiday{
        width: 83%;
        max-width: 1320px;
        border-radius: 16px;
        margin-top: 120px;
        margin-bottom: 120px;
        margin-left: 10.6%;
        margin-right: 10.6%;
        

}
.holi-intro{
    text-align: center;
}
.holi-intro>h4{
    color: #070211;
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 16px;     
}
.holi-intro>h1{
       color: #070211;
        font-family: Merriweather;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding-bottom: 28px;
}
.offfer{
    color: #F00;
}
.container3{
    margin-bottom: 64px;
}


.part1 {
    background-image: url(../resources/Rectangle\ 1.png);
    background-repeat: no-repeat;
    height: 433px;
    background-position: right;
    position: relative;
}
.part1>img{
    padding-left: 700px;
    padding-right: 285px;
    padding-top: 77px;
    padding-bottom: 60px;
}

.part2 {
    background-image: url(../resources/Rectangle\ 2.png);
    background-repeat: no-repeat;
    height: 229px;
    position: relative;
}

.the {
    position: absolute;
    top: -35%;
    
    left: 25%;
    
    transform: translate(-50%, -50%);
}









.portfolio {
    width: 83%;
    max-width: 1320px;
    margin-top: 120px;
    margin-left: 10.6%;
    margin-right: 10.6%;
}
.imghead1{
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}
.imghead2{
        display: flex;
        gap: 24px;
}
.i{
    cursor: pointer;
    transition: .5s;
}
.i:hover{
    transform: scale(1.1);
    z-index: 0.5;
}
.msg{
    width: 83%;
        max-width: 1320px;
        height: 616px;
        background: rgba(255, 0, 0, 0.05);
        border-radius: 16px;
        margin-top: 120px;
        margin-left: 10.6%;
        margin-right: 10.6%;    
}

.ALL {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Every {
    text-align: center;
    margin: 80px 212px;
}
.Every #width{
    padding-bottom: 48px;
}
.Every>img{
    padding-bottom: 40px;
}
.btn2{
       width: 210px;
        border-radius: 0px 50px 50px 0px;
         background: #F00;
        color: #FFF;
        font-family: Inter;
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        padding: 24px 56px;
       border: 0;
       cursor: pointer;
    
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 686px;
    outline: none;
   padding: 0 336px;
   text-decoration: none;
   border: 0;
}
    form>input {
            width: 648px;
            height: 72px;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            padding-left: 30px;
            cursor:text;
            color: rgba(10, 2, 27, 0.789);
            font-family: Inter;
            font-size: 18px;
            font-weight: 400;
            
        }
    form>input::placeholder{
        /* padding-left: 30px; */
        padding-right: 267px;
        padding-top: 25px;
        padding-bottom: 25px;
        color: rgba(7, 2, 17, 0.30);
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;

    }
        input:focus {
            outline: none;
        }






footer{
       width: 1600px;
        height: 609px;

        background-color: #070211;
        text-align: justify;
        background-size: cover;
        margin-top: 120px;
}
.F{
    color: #FFF;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
}
.last>.F{
    width: 375px;
}
.last{
    display: flex;
    justify-content: space-between;
    gap: 600px; 
    padding-top: 120px;
    padding-left: 140px;
    padding-right: 270px;
    margin-bottom: 50px;
    
}

.ph, .web{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}
#horizontal{
    
        /* width: 1320px; */
        height: .5px;
        background: rgba(255, 255, 255, 0.15);
        margin:0 140px;
           
}

.icons{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;
   margin:48px 640px;
   cursor: pointer;
   transition: .1s;
}
.icons>img:hover{
    transform: scale(1.1);
    z-index: .05;
}
.last1{
    display: flex;
    justify-content: space-between;
    gap: 880px;
    margin-top: 40px;
    margin-bottom: 120px;
    padding-left: 140px;
    padding-right: 140px;
}






